table.board{
  width: 100%;
}

table.board td, 
table.board th{
  padding: 5px;
  text-align: center;  
}

table.board th{
  color: #fff;
  background: var(--dark-color);
}

table.board tr:nth-child(even){
  background: rgba(0,0,0,0.1);
}

table.board a{
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.board a:hover{
  color: #fff; 
  transition: all 0.2s;
}

table.board td:nth-child(2):hover{
  background-color: rgba(0,0,0,0.5);
}


form.search-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 15px;
  border-top: 1px solid #ccc;
}

form.search-form > *{
  padding: 3px 15px;
  margin: 7px 5px;
}

table.board td:nth-child(2){
  text-align: left;
}

@media screen and (min-width:600px) {
  table.board td:nth-child(2){
    width: 50%;
  }
}/* lg */


@media screen and (max-width:800px){
  table.board,
  table.board > *{
    display: block;
  }

  table.board tr{
    display: flex;
    width: 100%;
  }

  table.board tr>*{
    display: block;
  }

  table.board tr>*:nth-child(1){width: 40px;}
  
  table.board tr>*:nth-child(2){
    flex: 1; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table.board tr>*:nth-child(3){width: 80px;}


  table.board td:nth-child(4),
  table.board th:nth-child(4),
  table.board td:nth-child(5),
  table.board th:nth-child(5){
    display: none;
  }

  form.search-form>*{
    width: 100%;
  }
}/* sm */
