.popup{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  background: rgba(0,0,0,0.7);
}

.popup figure{
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  background: #eee;
  box-shadow: 0 0 10px #111;
}

.popup figure img{
  width: 100%;
  box-shadow: 0 0 10px #111;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popup figure figcaption{
  text-align: center;
  padding: 10px 0;
  background-color: var(--dark-color);
  color: #eee;
  border-radius: 5px;
}

.popup figure p button{
  border: 1px solid #111;
  box-sizing: border-box;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  margin: 10px auto;
  background: #eee;
  color: #111;
  transition: all 0.3s;
}

.popup figure p button:hover{
  background: var(--main-color);
  color: #eee;
}