.area-section p{
  text-align: center;
}

.area-section .text-box1,
.area-section .text-box2{
  margin: 40px auto;
  padding: 30px;
}

.area-section .text-box1{
  width: 50%;
  max-width: 400px;
}

.area-section .text-box2{
  width: 60%;
  max-width: 600px
}

.area-section figure{
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
  margin: 40px auto !important;
  margin-top: 50px;
}

@media screen and (min-width:800px){

  .area-section figure img:first-child{
    width: 100%;
  }

  .area-section figure img:last-child{
    display: none;
  }
}/* lg */
@media screen and (max-width:800px){

  .area-section figure{
    margin: 0 auto;
    max-width: 420px;
  }

  .area-section figure img:last-child{
    width: 100%;
  }

  .area-section figure img:first-child{
    display: none;
  }
  
}/* sm */